CoreRoot/__pycache__/
venv/
db.sqlite3
CoreRoot/migrations/__pycache__/
CoreRoot/local_settings.py
core/__pycache__/
core/user/__pycache__/
core/user/migrations/__pycache__/
core/migrations/__pycache__/
core/auth/__pycache__/
core/auth/migrations/__pycache__/
core/auth/serializers/__pycache__/
core/auth/viewsets/__pycache__/
core/post/__pycache__/
core/post/migrations/__pycache__/
core/comment/__pycache__/
core/comment/migrations/__pycache__/
core/abstract/__pycache__/
.idea/
__pycache__/
