CoreRoot/__pycache__/
venv/
db.sqlite3
CoreRoot/migrations/__pycache__/
CoreRoot/local_settings.py
core/__pycache__/
core/user/__pycache__/
core/user/migrations/__pycache__/
core/migrations/__pycache__/
core/auth/__pycache__/
core/auth/migrations/__pycache__/
