asgiref
gunicorn
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
Pillow
psycopg2-binary
PyJWT
pytz==2023.3.post1
sqlparse
typing_extensions
